{#
/**
  Aquarius - Architecture de la page.
  CBE - V1.0 - 09.08.2019
  PiB - V1.1 - 21.11.2019
**/
#}

<div id="page">
  <header role="banner" aria-label="{{ 'Site header'|t }}" data-offset-top="103px">
    {{ page.header }}    
  </header>
  
  <main>
    {% if page.slideshow %}
      {{ page.slideshow }}
    {% endif %}
    <div class="main-region">
    {% if page.sidebar_left %}
      <div id="sidebar-left" class="column sidebar" role="complementary">
        {{ page.sidebar_left }}
      </div>
    {% endif %}
    {% if page.sidebar_right %}
      <div id="sidebar-right" class="column sidebar" role="complementary">
        {{ page.sidebar_right }}
      </div>
    {% endif %}
    <div id="content" class="column main-content" role="main">
      {% if page.breadcrumb %}    
        <div id="breadcrumb">
          {{ page.breadcrumb }}
        </div>
      {% endif %}
      <section class="section">
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
      </section>
    </div>
  </main>

    <footer class="site-footer">
      {{ page.footer }}
    </footer>
</div>
